In [14]:
import pandas as pd
df = pd.read_csv('/Users/arslanaliawan/Desktop/VS code scripts /ml-latest-small/movies.csv')
df.head()
#testingg

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [2]:
#output the type of a df
type(df)

pandas.core.frame.DataFrame

In [3]:
df.shape

(9742, 3)

In [4]:
df.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [5]:
#how to get  a deial about a specific movie
second_movie= df.iloc[9741]
second_movie

movieId                                 193609
title      Andrew Dice Clay: Dice Rules (1991)
genres                                  Comedy
Name: 9741, dtype: object

In [6]:
#changing the index to title
df = df.set_index('title')
df.head()

,movieId,genres
title,,
Toy Story (1995),1,Adventure|Animation|Children|Comedy|Fantasy
Jumanji (1995),2,Adventure|Children|Fantasy
Grumpier Old Men (1995),3,Comedy|Romance
Waiting to Exhale (1995),4,Comedy|Drama|Romance
Father of the Bride Part II (1995),5,Comedy

In [7]:
#to get  information about a specific movie with a name
select_movie = df.loc['Waiting to Exhale (1995)']
select_movie

movieId                       4
genres     Comedy|Drama|Romance
Name: Waiting to Exhale (1995), dtype: object

In [8]:
df = df.reset_index()
df.head()

,title,movieId,genres
0,Toy Story (1995),1,Adventure|Animation|Children|Comedy|Fantasy
1,Jumanji (1995),2,Adventure|Children|Fantasy
2,Grumpier Old Men (1995),3,Comedy|Romance
3,Waiting to Exhale (1995),4,Comedy|Drama|Romance
4,Father of the Bride Part II (1995),5,Comedy

In [9]:
#we can also create a largedataset into a small dataset but limiting a number of features
#see the following example 
#but we dont use this dataset coz we already have a enough small dataseet
small_dataset= df[['movieId','genres']]
small_dataset.head()

   movieId                                       genres
0        1  Adventure|Animation|Children|Comedy|Fantasy
1        2                   Adventure|Children|Fantasy
2        3                               Comedy|Romance
3        4                         Comedy|Drama|Romance
4        5                                       Comedy

In [10]:
#get info about the each features of our dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
title      9742 non-null object
movieId    9742 non-null int64
genres     9742 non-null object
dtypes: int64(1), object(2)
memory usage: 228.4+ KB

In [11]:
#we cant convert object to float, lets have a look
df['title'].astype('float')

ValueError: could not convert string to float: 'Andrew Dice Clay: Dice Rules (1991)'

In [12]:
#from this way we can convert the objec to float in  a manual way
# import numpy as np

# def to_float(x):
#     try:
#         x=float(x)
#     except:
#         x= np.nan
#     return x

# df['title'] = df['title'].apply(to_float)

# df['title']= df['title'].astype('float')
# df.info()

In [13]:

df.head()

,title,movieId,genres
0,Toy Story (1995),1,Adventure|Animation|Children|Comedy|Fantasy
1,Jumanji (1995),2,Adventure|Children|Fantasy
2,Grumpier Old Men (1995),3,Comedy|Romance
3,Waiting to Exhale (1995),4,Comedy|Drama|Romance
4,Father of the Bride Part II (1995),5,Comedy